# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Data and large files
**/data/
*.zip
*.tar.gz
*.h5

# Logs
*.log

# OS files
Thumbs.db
.DS_Store
